*.csproj
*.sln
.DS_Store
.idea

/builds/*
/images/*
/Shot-*.png

/Assets/GaussianAssets/*
/Assets/GaussianAssets.meta
/Assets/Models~/*
/Library/*
/Logs/*
/Temp/*
/UserSettings/*
/obj/*

/projects/**/Assets/GaussianAssets/*
/projects/**/Assets/GaussianAssets.meta
/projects/**/Assets/Models~/*
/projects/**/Library/*
/projects/**/Logs/*
/projects/**/Temp/*
/projects/**/UserSettings/*
/projects/**/obj/*
*.sln.DotSettings.user

/scenes/*

# Escludi i log e gli output temporanei di GraphViz (VFX Graph)
**/GraphViz/

# Escludi le impostazioni utente locali e le configurazioni della macchina
**/ProjectSettings/ProjectVersion.txt
**/ProjectSettings/PackageManagerSettings.asset

# Opzionale ma consigliato: se hai scaricato pacchetti locali o estratti
*.unitypackage